<!DOCTYPE html>
<html lang="sv">
  <head>
    <title>Netz family site</title>
    <%- include('partials/head-conts') %>
  </head>
  <body>
    <%- include('partials/navbar') %>

    <div class="container-fluid">
      <main class="bg-light mb-5">
        <h1>Sparade skällningar</h1>
	<div class="container-fluid mb-3">
        <div class="row">
          <div class="col-1 text-center">ID</div>
            <div class="col-2 text-center">Hund</div>
            <div class="col-5">Notering</div>
	    <div class="col-2">Tidpunkt</div>
            <div class="col-2 text-center">Åtgärd</div>
          </div>
        	<%
		if(userData.length!=0){
			var i=1;
			userData.forEach(function(data){
		%>
				<div class="row">
					<div class="col-1 text-center"><%=data.id %></div>
					<div class="col-2 text-center"><%=data.barkee %></div>
					<div class="col-5"><%=data.bark_note %>	</div>
					<div class="col-2"><%=data.barked_at %>	</div>
					<div class="col-2 text-center">
          					<a href="/barks/bark-delete/<%=data.id%>"><i class="bi bi-trash"></i></a>
        				</div>
        			</div>
		<%
				i++;
			}) %>
        	<%
		} else{
		%>
				<div class="row">
					<div class="col-12 text-center">No data found.</div>
        			</div>
      		<% } %>
        </div>
      </main>
    </div>
    <%- include('partials/footer') %>
  </body>
</html>

