
<!DOCTYPE html>
<html lang="sv">
	<head>
		<title>Netz App - Registrera skall</title>
		<%- include('partials/head-conts') %>
	</head>

	<body>
		<%- include('partials/navbar') %>

		<div class="container py-12">
			<div class="container">

				<div class="row">
					<div class="col-md-6">
						<p>Våra pälsiga medlemmar</p>
		<%
		if(petData.length!=0){
			var i=1;
			petData.forEach(function(data){
		%>
				
						<div class="card mb-3" style="max-width: 540px;">
 							<div class="row g-0">
								<div class="col-md-4">
									<img src="..." alt="...">
								</div>
								<div class="col-md-8">
									<div class="card-body">
										<h5 class="card-title"><%=data.fullname %></h5>
										<p class="card-text">Född <%=data.date_birth %></p>
										<p class="card-text"><small class="text-muted">Kön <%=data.sex %></small></p>
									</div>
								</div>
							</div>
						</div>
		<%
				i++;
			}) %>
        	<%
		} else{
		%>
		<% } %>
					</div>

					<div class="col-md-6">
						<img style='width: 100%' src="/images/rottweiler.jpg">
					</div>
				</div>
			</div>
		
			<div class="container">
				<div class="card">
  					<h5 class="card-header">Skällningar</h5>
  					<div class="card-body">
    						<h5 class="card-title">Hundar kan ibland låta lite...</h5>
    						<p class="card-text">Här nedan kan man välja att gå till att se alla skällningar eller att lägga till händelser.</p>
    						<a href="/pets/bark" class="btn btn-primary">Registrera skall</a>
    						<a href="/pets/bark-list" class="btn btn-secondary">Visa skällningar</a>
  					</div>
				</div>
			</div>
		
		</div>

		<%- include('partials/footer') %>
	</body>
</html>

