
<!DOCTYPE html>
<html lang="sv">
	<head>
		<title>Netz App - Registrera skall</title>
		<%- include('partials/head-conts') %>
	</head>

	<body>
		<%- include('partials/navbar') %>
		<div class="container">
			<div class="text-center">
				<h1>Fordonen!</h1>
			</div>
			<div class="row">
				<div class="row-md-12">
					<p>Våra fordon</p>
					<table class="table table-sm table-striped table-borderless">
		<thead>
			<tr>
				<th scope="col">#</th>
				<th scope="col">Reg.nr</th>
				<th scope="col">Märke</th>
				<th scope="col">Modell</th>
				<th scope="col">Färg</th>
				<th scope="col">Köpt</th>
				<th scope="col">Såld</th>
			</tr>
		</thead>
		<tbody>
        	<%
		if(vehicleData.length!=0){
			var i=1;
			vehicleData.forEach(function(data){
		%>
				<tr>
					<td scope="row"><%=i %></td>
					<td><%=data.reg_no %></td>
					<td><%=data.make %></td>
					<td><%=data.model %></td>
					<td><%=data.color %></td>
					<td><%=data.date_purchased %></td>
					<td><%=data.date_sold %></td>
        			</tr>
		<%
				i++;
			}) %>
        	<%
		} else{
		%>
				<tr>
					<td scope="row">No data found</td>
				</tr>
		<% } %>
		</tbody>
	</table>
				</div>
			</div>
		</div>

		<div class="container">
			<%=wishlistCar%>
		</div>

		<%- include('partials/footer') %>

	</body>
</html>

